#flex-container {
    min-width: 30rem;
    border: 0.5rem solid black;
    min-height: 30rem;
    margin: 10rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.box {
    margin: 2rem;
    border: 0.3rem solid blue;
    min-width: 5rem;
    text-align: center;
}